
#wb_header { background: transparent none repeat scroll left top; }
#wb_main #page_1 { background: transparent none repeat left top; background-size: auto auto; padding-bottom: 50px; }
#wb_footer { background: transparent none repeat left top; background-size: auto auto; }
body { background: #187f8b url("../gallery_gen/9a0a898229a92c969020c74b5c7762be.jpg") repeat-x scroll center top; background-size: auto auto; }
.wb_sbg { background: transparent none repeat-x left top; }
body, .wb_sbg { min-width: 100%; min-height: 100%; }
.root { box-sizing: border-box; width: 100%; }
.root > div > .wb_cont_inner_rel { padding-left: 15px; padding-right: 15px; }
#wb_cs_row_1 { padding-left: 0; padding-right: 0; padding-top: 15px; margin-top: 0px; float: left; padding-bottom: 15px; }
#wb_cs_col_2 { width: 100%; margin-left: auto; margin-right: auto; margin-top: 7px; }
#wb_cs_col_2:first-child { margin-top: 7px; }
#wb_element_instance1 { z-index: 219; height: 50px; min-height: 1px; width: 100%; margin-left: auto; margin-right: auto; margin-top: 0px; }
#wb_element_instance1 > .wb_shp { width: 100%; height: 50px; background: transparent none repeat scroll left top; background-size: auto auto; border: 10px solid #f4c37a; opacity: 0.95; border-radius: 10px 10px 10px 10px; -moz-border-radius: 10px 10px 10px 10px; -webkit-border-radius: 10px 10px 10px 10px; }
#wb_cs_col_3 { width: 80.833333333333%; margin-left: auto; margin-right: auto; margin-top: 15px; }
#wb_cs_col_3:first-child { margin-top: 0; }
#wb_element_instance2 { z-index: 284; min-height: 24px; width: 60.824742268041%; margin-left: auto; margin-right: auto; margin-top: 0px; }
#wb_element_instance2 p:last-child { margin-bottom: 0; }
#wb_cs_col_4 { width: 100%; margin-left: auto; margin-right: auto; margin-top: 15px; max-width: 40px; min-width: 40px; }
#wb_cs_col_4:first-child { margin-top: 0; }
#wb_element_instance0 { z-index: 286; min-height: 58px; width: 100%; margin-left: auto; margin-right: auto; margin-top: 0px; }
#wb_element_instance0 .btn-collapser { display: inline-block; margin-top: 14.5px; background-color: #f3be79; border-color: #ffffff; }
#wb_element_instance0.collapse-expanded > ul { position: fixed; left: 0px; width: 100%; display: block; float: none; height: auto; overflow: hidden; overflow-y: auto; }
#wb_element_instance0 .btn-collapser > .icon-bar { background-color: #ffffff; }
#wb_element_instance0 .btn-collapser:hover { background-color: #f3be79; border-color: #232a3a; }
#wb_element_instance0 .btn-collapser:hover > .icon-bar { background-color: #232a3a; }
#wb_element_instance0 ul { background: #f3be79 none repeat scroll left top; border: 1px none #000000; }
#wb_element_instance0 > ul { display: none; }
#wb_element_instance0.collapse-expanded > ul > li { display: block; }
#wb_element_instance0.collapse-expanded li > ul { position: static; }
#wb_element_instance0.collapse-expanded li.active > ul { display: block!important; }
#wb_element_instance0.collapse-expanded li.over > ul { display: block!important; }
#wb_element_instance0, #wb_element_instance0 ul { text-align: right; }
#wb_element_instance0 ul ul { background: transparent none repeat scroll right top; }
#wb_element_instance0 li { margin: 0px 0px 0px 0px; }
#wb_element_instance0 li a { text-transform: none; border: 0px none #000000; padding: 20px 15px 20px 15px; font: normal normal 16px Helvetica,Arial,sans-serif; text-decoration: none; color: #ffffff; line-height: 18px; background: transparent none no-repeat scroll center top; }
#wb_element_instance0 li.over > a, #wb_element_instance0 li:focus > a { border: 0px none #000000; font: normal normal 16px Helvetica,Arial,sans-serif; text-decoration: none; color: #232a3a; line-height: 18px; background: transparent none no-repeat scroll center top; }
#wb_element_instance0 li.active > a { border: 0px none #000000; font: normal normal 16px Helvetica,Arial,sans-serif; text-decoration: none; color: #232a3a; line-height: 18px; background: transparent none no-repeat scroll center center; }
#wb_element_instance0:not(.collapse-expanded) .vmenu ul.open-left,#wb_element_instance0:not(.collapse-expanded) .hmenu ul.open-left { left: auto; right: 100%; }
#wb_element_instance0:not(.collapse-expanded) .hmenu > li > ul.open-left { left: auto; right: 0; }
#wb_cs_row_5 { padding-left: 0; padding-right: 0; padding-top: 10px; margin-top: 0px; float: left; padding-bottom: 11px; }
#wb_cs_col_6 { width: 100%; margin-left: auto; margin-right: auto; margin-top: 9px; }
#wb_cs_col_6:first-child { margin-top: 9px; }
#wb_element_instance4 { z-index: 275; min-height: 24px; width: 100%; margin-left: auto; margin-right: auto; margin-top: 0px; }
#wb_element_instance4 p:last-child { margin-bottom: 0; }
#wb_cs_col_7 { width: 100%; margin-left: auto; margin-right: auto; margin-top: 15px; }
#wb_cs_col_7:first-child { margin-top: 0; }
#wb_element_instance3 { z-index: 10288; height: auto; min-height: 1px; min-width: 56px; max-width: 112px; width: 100%; margin-left: auto; margin-right: auto; margin-top: 0px; }
#wb_element_instance3 img { width: 100%; height: auto; position: static; left: 0px; top: 0px; display: block; }
#wb_cs_row_8 { padding-left: 0; padding-right: 0; padding-top: 0px; margin-top: 0px; float: left; padding-bottom: 0px; }
#wb_cs_col_9 { width: 100%; margin-left: auto; margin-right: auto; margin-top: 15px; padding-left: 0px; padding-right: 0px; }
#wb_cs_col_9:first-child { margin-top: 0; }
#wb_element_instance8 { z-index: 247; height: 10px; min-height: 1px; width: 100%; margin-left: auto; margin-right: auto; margin-top: 0px; }
#wb_element_instance8 > .wb-elm-line { margin: 1px 0 0 0; width: 100%; height: 1px; left: 0; top: 50%; border-top: 5px solid #ffffff;; }
#wb_cs_row_10 { padding-left: 0; padding-right: 0; padding-top: 15px; padding-bottom: 0px; }
#wb_cs_col_11 { width: 100%; margin-left: auto; margin-right: auto; margin-top: 15px; }
#wb_cs_col_11:first-child { margin-top: 0; }
#wb_element_instance7 { z-index: 181; height: auto; min-height: 1px; min-width: 78px; max-width: 492px; width: 100%; margin-left: auto; margin-right: auto; margin-top: 0px; }
#wb_element_instance7 img { width: 100%; height: auto; position: static; left: 0px; top: 0px; display: block; }
#wb_cs_col_12 { width: 100%; margin-left: auto; margin-right: auto; margin-top: 15px; }
#wb_cs_col_12:first-child { margin-top: 0; }
#wb_cs_row_13 { padding-left: 0; padding-right: 0; padding-top: 0px; margin-top: 0px; float: left; padding-bottom: 0px; }
#wb_cs_col_14 { width: 100%; margin-left: auto; margin-right: auto; margin-top: 15px; padding-left: 0px; padding-right: 0px; }
#wb_cs_col_14:first-child { margin-top: 0; }
#wb_element_instance6 { z-index: 144; min-height: 24px; width: 100%; margin-left: auto; margin-right: auto; margin-top: 0px; }
#wb_element_instance6 p:last-child { margin-bottom: 0; }
#wb_cs_row_15 { padding-left: 0; padding-right: 0; padding-top: 15px; padding-bottom: 0px; }
#wb_cs_col_16 { width: 100%; margin-left: auto; margin-right: auto; margin-top: 15px; padding-left: 0px; padding-right: 0px; }
#wb_cs_col_16:first-child { margin-top: 0; }
#wb_element_instance5 { z-index: 167; min-height: 24px; width: 100%; margin-left: auto; margin-right: auto; margin-top: 0px; }
#wb_element_instance5 p:last-child { margin-bottom: 0; }
#wb_header_bg { background: #187f8b url("../gallery_gen/9a0a898229a92c969020c74b5c7762be.jpg") repeat-x scroll center top; background-size: auto auto; height: 100px; }
#wb_sbg_placeholder { background: transparent none repeat-x left top; height: 100px; }
#wb_main { padding-top: 100px; }
#wb_main .wb_cont_outer { top: 100px; }
#wb_page_1_bg { background: #187f8b url("../gallery_gen/9a0a898229a92c969020c74b5c7762be.jpg") repeat-x scroll center -100px; background-size: auto auto; height: 684px; }
#wb_bgs_cont { top: 100px; }
#wb_element_instance9 { z-index: 9000; }
#wb_element_instance10 { z-index: 9999; }


@media (min-width: 768px) {
	.root > div > .wb_cont_inner_rel { padding-left: 20px; padding-right: 20px; }
	#wb_cs_row_1 { padding-top: 20px; padding-bottom: 22px; padding-left: 0%; padding-right: 0%; }
	#wb_cs_col_2 { max-width: 107.14285714286px; min-width: 10.714285714286px; width: 4.4642857142857%; margin-left: 0.0%; }
	#wb_element_instance1 { margin-top: 0px; padding: 0.01px; }
	#wb_cs_col_3 { max-width: 1240px; margin-top: 10px; min-width: 124px; width: 51.666666666667%; margin-left: 1.369047%; }
	#wb_cs_col_3:first-child { margin-top: 10px; }
	#wb_element_instance2 { margin-top: 0px; width: 100%; }
	#wb_cs_col_4 { max-width: 1020px; margin-top: 0px; min-width: 102px; width: 42.5%; margin-right: 0.0%; }
	#wb_cs_col_4:first-child { margin-top: 0px; }
	#wb_element_instance0 { margin-top: 0px; }
	#wb_element_instance0 ul { background: #e77f74 none repeat scroll right top; }
	#wb_element_instance0 .btn-collapser { display: none; }
	#wb_element_instance0 > ul { display: block; }
	#wb_cs_row_5 { padding-left: 0%; padding-right: 2.3333333333333%; }
	#wb_cs_col_6 { max-width: 1880px; min-width: 188px; width: 80.204778156997%; margin-left: 0.0%; }
	#wb_element_instance4 { margin-top: 0px; }
	#wb_cs_col_7 { max-width: 281.68240343348px; margin-top: 0px; min-width: 28.168240343348px; width: 12.017167381974%; margin-right: 0.0%; }
	#wb_cs_col_7:first-child { margin-top: 0px; }
	#wb_element_instance3 { margin-top: 0px; }
	#wb_cs_row_8 { padding-left: 0%; padding-right: 0%; }
	#wb_cs_col_9 { max-width: 2400px; margin-top: 0px; }
	#wb_cs_col_9:first-child { margin-top: 0px; }
	#wb_element_instance8 { margin-top: 0px; }
	#wb_cs_row_10 { padding-top: 60px; padding-left: 7.5%; padding-right: 0%; }
	#wb_cs_col_11 { max-width: 780px; margin-top: 0px; min-width: 78px; width: 35.135135135135%; margin-left: 0.0%; }
	#wb_cs_col_11:first-child { margin-top: 0px; }
	#wb_element_instance7 { max-width: 100%; margin-top: 0px; }
	#wb_cs_col_12 { max-width: 1360px; margin-top: 30px; min-width: 136px; width: 61.261261261261%; margin-left: 3.603603%; }
	#wb_cs_col_12:first-child { margin-top: 30px; }
	#wb_cs_row_13 { padding-left: 0%; padding-right: 0%; }
	#wb_cs_col_14 { max-width: 1360px; margin-top: 0px; }
	#wb_cs_col_14:first-child { margin-top: 0px; }
	#wb_element_instance6 { margin-top: 0px; }
	#wb_cs_row_15 { padding-top: 43px; padding-left: 0%; padding-right: 0%; }
	#wb_cs_col_16 { max-width: 1360px; margin-top: 0px; }
	#wb_cs_col_16:first-child { margin-top: 0px; }
	#wb_element_instance5 { margin-top: 0px; }
}

@media (min-width: 992px) {
	.root > div > .wb_cont_inner_rel { padding-left: 30px; padding-right: 30px; }
	#wb_element_instance0 ul { background: #e77f74 none repeat scroll right top; }
	#wb_element_instance0 .btn-collapser { display: none; }
	#wb_element_instance0 > ul { display: block; }
}

@media (min-width: 1200px) {
	.root > div > .wb_cont_inner_rel { max-width: 1860px; padding-left: 40px; padding-right: 40px; }
	#wb_element_instance0 ul { background: #e77f74 none repeat scroll right top; }
	#wb_element_instance0 .btn-collapser { display: none; }
	#wb_element_instance0 > ul { display: block; }
	#wb_element_instance9 { top: 478px; left: 0px; display: block; }
	#wb_element_instance10 { top: 69px; left: 0px; display: block; }
}
