@font-face {
	font-family: Capture it;
	src: url("fonts/Capture it.ttf");
}
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.eot);
  src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.woff) format('woff'),
       url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 700;
  src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.eot);
  src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.woff) format('woff'),
       url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 800;
  src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.eot);
  src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.woff) format('woff'),
       url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.ttf) format('truetype');
}

.ico-spin { -webkit-animation: ico-spin 2s infinite linear; animation: ico-spin 2s infinite linear; }
@-webkit-keyframes ico-spin {
  0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(359deg); transform: rotate(359deg); }
}
@keyframes ico-spin {
  0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(359deg); transform: rotate(359deg); }
}

html[lang="ar"] textarea,
html[lang="ar"] input,
html[lang="he"] textarea,
html[lang="he"] input,
html[lang="fa"] textarea,
html[lang="fa"] input {
	direction: rtl;
}
html[lang="ar"] .rtl,
html[lang="ar"] .rtl *,
html[lang="he"] .rtl,
html[lang="he"] .rtl *,
html[lang="fa"] .rtl,
html[lang="fa"] .rtl * {
	direction: rtl;
	/* text-align: right!important; */
}

html, body	{ /* height: 100%; */ height: auto; padding: 0; }
.root		{ margin: 0; width: 100%; min-height: 200px; }
.vbox		{ width: 100%; float: none; position: relative; }
.hbox		{ min-height: 100%; float: left; position: relative; }

a img		{ border: none; }

.clear	{
	display: block; float: none; clear: both; border: none; padding: 0px; margin: 0px;
	visibility: hidden; font-size: 1px; line-height: 1px;
}

.wb-state-highlight	{ background: url("../img/hlight_bg.png") repeat left top; }

.wb_container	{ position: relative; z-index: 3; }
.wb_cont_inner { position: relative; margin: 0 auto; width: 1200px; }
.wb_cont_outer { position: absolute; left: 0; top: 0; width: 100%; }
.wb_cont_inner_rel { position: relative; margin: 0 auto; width: 100%; }
.wb_cont_outer_rel { position: relative; width: 100%; }

.wb_cont_bg { position: absolute; width: 1200px; height: 100%; left: 50%; top: 0; margin-left: -600px; }

#wb_header	{ position: relative; z-index: 4; }
#wb_header_placeholder { z-index: 4; }
#wb_sbg_placeholder { position: fixed; width: 100%; top: 0; left: 0; z-index: 4; }
#wb_header_bg { position: fixed; width: 100%; top: 0; left: 0; z-index: 4; }
.wb_header_fixed { position: fixed!important; top: 0; width: inherit; z-index: 4; }

#wb_bgs_cont { position: absolute; width: 100%; left: 0; z-index: 1; }

.wb_container .wb_page { position: relative; box-sizing: content-box; }
.wb_container .wb_page .wb_page_anchor { position: relative; top: 0; left: 0; display: block; }

.wb_container > .wb-cs-row > .wb-cs-col {
	width: 100%;
}

.wb_sbg		{
	position: absolute; left: 0px; top: 0px; width: 100%; height: 100%;
	z-index: 2;
}

.wb-cs-clear {
	display: block;
	padding: 0px;
	margin: 0px;
	font-size: 1px;
	line-height: 1px;
	overflow: hidden;
	float: none;
	clear: both;
	position: static;
}

.wb-cs-row {
	box-sizing: border-box;
	float: none;
	clear: both;
	width: 100%;
}
.wb-cs-row:after, .wb_container:after {
	content: "";
	display: block;
	width: 100%;
	height: 0;
	clear: both;
	visibility: hidden;
}
.wb-cs-col {
	box-sizing: border-box;
	float: left;
}
.wb-cs-grp {
	box-sizing: border-box;
}
.wb-cs-elem {
	position: relative;
	box-sizing: border-box;
}
.wb-cs-col.wb-cs-right, .wb-cs-grp.wb-cs-right, .wb-cs-elem.wb-cs-right {
	float: right;
}
.wb-site-debug .wb-cs-row {
	background: rgba(255, 0, 0, 0.1);
}
.wb-site-debug .wb-cs-col {
	background: rgba(0, 255, 0, 0.1);
}
.wb-site-debug .wb-cs-grp {
	background: rgba(255, 255, 255, 0.1);
}
.wb-site-debug .wb-cs-elem {
	background: rgba(0, 0, 255, 0.1);
}
.wb_element	{
	position: absolute !important;
	min-height: 64px;
	min-width: 64px;
	left: 0;
	top: 0;
	padding: 0;
	margin: 0;
	display: block;
	overflow: visible;
	box-sizing: content-box;
}
.wb_anchor	{
	position: absolute;
}
.wb_element.wb-cs-elem {
	position: relative ! important;
	box-sizing: border-box;
	min-width: 0;
	/*left: 0 ! important;
	top: 0 ! important;
	width: 100% ! important;
	height: auto ! important;
	min-height: 0 ! important;*/
}
.wb_element_shape > .wb_shp {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.wb_element_shape > .wb_shp + .wb-elm-ch-wrp {
	pointer-events: none;
}
.wb_element_shape > .wb_shp + .wb-elm-ch-wrp a,
.wb_element_shape > .wb_shp + .wb-elm-ch-wrp input,
.wb_element_shape > .wb_shp + .wb-elm-ch-wrp select,
.wb_element_shape > .wb_shp + .wb-elm-ch-wrp textarea,
.wb_element_shape > .wb_shp + .wb-elm-ch-wrp button,
.wb_element_shape > .wb_shp + .wb-elm-ch-wrp .wb_element {
	pointer-events: initial;
}

.wb_element_picture > .wb_picture_wrap {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.wb_table	{ border: none; border-collapse: collapse; }
.wb_table td	{ border: 1px solid #000; position: relative; }
.wb_table td > div { position: relative; top: 0; left: 0; width: 100%; }

.wb_button	{
	display: block; padding: 0px; margin: 0px; text-align: center; text-decoration: none;
	cursor: pointer; position: relative;
}
.wb_button:before { content: ""; display: inline-block; vertical-align: middle; height: 100%; }
.wb_button,
.wb_button:hover,
.wb_button:active,
.wb_button:focus,
.wb_button:visited	{ outline: none !important; }
.wb_button span	{ display: inline-block; vertical-align: middle; padding: 0px; margin: 0px; }

.vmenu,
.hmenu		{
	display: block; list-style-type: none; padding: 0px; margin: 0px; float: left; width: 100%; overflow: visible;
}
.hmenu { white-space: normal; }
.vmenu li,
.hmenu li		{ position: relative; display: block; display: inline-block; padding: 0px; margin: 0px; }
.vmenu li		{ clear: both; display: block; }
.vmenu li a,
.hmenu li a	{ display: block; }
.vmenu ul,
.hmenu ul	{ display: none; position: absolute; margin-left: 0; padding-left: 0; left: 100%; top: 0; z-index: 2; }
.vmenu ul li,
.hmenu ul li	{ display: block; }
.hmenu ul li:first-child,
.vmenu ul li:first-child { margin-top: 0 ! important; }
.hmenu > li > ul { left: 0; top: 100%; }
.hmenu li.over > ul, .vmenu li.over > ul { display: block; }
.vmenu ul a, .hmenu ul a { white-space: nowrap; max-width: 320px; overflow: hidden; text-overflow: ellipsis; }


/* Default gallery styles */
.wb_gallery			{ background: #000; width: 100%; height: 100%; overflow: hidden; }
#wb_gedit_name		{ width: 315px; }
#wb_gedit_images	{
	width: 466px; height: 300px; overflow: auto; overflow-y: scroll; background: #ffffff;
}
#wb_gedit_uploader	{ width: 120px; height: 64px; float: left; }
#wb_gedit_uploader_state {
	width: 336px; height: 64px; float: left; margin-left: 10px; overflow: auto;
}
.wb_gallery_empty	{
	background: #ffffff url("../img/gallery.empty.gif") no-repeat center center;
}

/* .gallery-image		{ background: white; padding: 5px; } */

.wb_thumb			{ float: left; padding: 3px; }
.wb_thumb img		{ max-width: none !important; }
.wb_thumb div			{ border: 1px solid #888; }
.wb-thumbs-only > .wb_thumb { float: none; display: inline-block; vertical-align: top; }

.gallery-slideshow  	{ width: 100%; height: 100%; }
.gallery-slide-image{ position: relative; width: 100%; height: 100%; }
.gallery-slide-left, .gallery-slide-right {
	position: absolute; top: 50%;
	width: 32px; height: 32px; line-height: 32px; margin-top: -16px;
	font-size: 16px;
	color: #FFF; text-shadow: #000 0 0 1px;
	transition: color 0.2s linear 0s, text-shadow 0.2s linear 0s;
	display: block; cursor: pointer; outline: none !important; text-align: center;
}
.gallery-slide-left	{
	left: 0;
}
.gallery-slide-right {
	right: 0;
}
.gallery-slide-left:hover	{ color: #DDD; text-shadow: #222 0 0 1px; }
.gallery-slide-right:hover	{ color: #DDD; text-shadow: #222 0 0 1px; }

.gallery-list		{ }
.gallery-list-image	{ }
.gallery-list-thumbs{ }
.gallery-list-left .fa,
.gallery-list-right .fa {
	position: absolute; top: 50%;
	font-size: 14px; line-height: 14px; margin-top: -7px;
	color: #FFF; text-shadow: #000 0 0 1px;
	transition: color 0.2s linear 0s, text-shadow 0.2s linear 0s;
}
.gallery-list-left:hover .fa, .gallery-list-right:hover .fa { color: #DDD; text-shadow: #222 0 0 1px; }
.gallery-list-left .fa	{ left: 3px; }
.gallery-list-right .fa	{ right: 3px; }
.gallery-list .tmb-selected	{ background: #888; }

#skypedetectionswf	{ position: absolute; left: -1000px; top: -1000px; }

.wb_form			{
	padding: 0px; margin: 0px; display: block; border: none; width: 100%; height: 100%;
}
.wb_form table		{
	padding: 0px; margin: 0px; border: none; border-collapse: collapse;
	width: 100%; height: 100%;
}
.wb_form table th,
.wb_form table td		{ padding: 4px 0px 0px 0px; margin: 0px; border: none; border-collapse: collapse; text-align: left; }
.wb_form table th		{ white-space: nowrap; }
.wb_form table tr:first-child th,
.wb_form table tr:first-child td {
	padding-top: 0px;
}
.wb_form table th 		{ width: 1%; }
.wb_form table th:not([class]) 	{ font-size: 13px; }
.wb_comments textarea.hpc,
.wb_form textarea.hpc	{
	font-size: 1px; line-height: 1px; width: 1px; height: 1px; padding: 0px; margin: 0px;
	border: none; display: block; background: transparent; color: #ffffff; opacity: 0;
	filter: alpha(opacity=0); position: absolute; left: -10px; top: -10px;
}
.wb_form .form-field {
	width: 100%;
}
.wb_form .wb_form_captcha {
	transform-origin: 0 0;
	-o-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	-webkit-transform-origin: 0 0;
}
.wb_form_rtl { direction: rtl; }

.wb_comments		{ width: 500px; margin: 0px auto; }
.wb_comment			{
	display: block; border-top: 1px solid #ccc; padding: 6px 2px; clear: both;
	position: relative;
}
.wb_comment_user	{
	font-size: 18px; color: #007499; font-family: Arial,sans-serif; margin-bottom: 6px;
}
.wb_comment_date	{
	font-size: 10px; color: #999; font-family: Arial,sans-serif;
}
.wb_comment_text	{
	font-size: 13px; color: black; font-family: Arial,sans-serif;
}

.wb_footer { padding-bottom: 20px; }

i.icon-wb-logo {
	background-image: url("../img/icon-logo.png") !important;
	background-position: 0px 0px;
	width: 22px; height: 22px; margin: -3px 0px 0px 0px;
	vertical-align: middle;
	display: inline-block;
}

.wb-combobox-controll input	{ cursor: pointer; }
.wb-combobox-controll ul	{ overflow-y: auto; max-height: 180px; }
.wb-combobox-controll .dropdown-toggle { padding-left: 8px; padding-right: 8px; }


[class^="ico-lang"],
[class*=" ico-lang"] {
	background: url("../img/flags_matrix.png") no-repeat;
	width: 18px; height: 12px; display: block; display: inline-block;
	padding: 0px; margin: 0px; border: none; font-size: 1px; line-height: 1px;
	overflow: hidden;
}
span.ico-lang-us, i.ico-lang-us { background-position: -378px -228px; }
span.ico-lang-uk, i.ico-lang-uk { background-position: -378px -132px; }
span.ico-lang-lt, i.ico-lang-lt { background-position: -216px -240px; }
span.ico-lang-ru, i.ico-lang-ru { background-position: -324px -252px; }
span.ico-lang-de, i.ico-lang-de { background-position: -72px -60px; }
span.ico-lang-ae, i.ico-lang-ae { background-position: -18px -60px; }
span.ico-lang-dk, i.ico-lang-dk { background-position: -72px -132px; }
span.ico-lang-gr, i.ico-lang-gr { background-position: -126px -216px; }
span.ico-lang-es, i.ico-lang-es { background-position: -90px -228px; }
span.ico-lang-sv, i.ico-lang-sv { background-position: -342px -264px; }
span.ico-lang-ee, i.ico-lang-ee { background-position: -90px -60px; }
span.ico-lang-fi, i.ico-lang-fi { background-position: -108px -108px; }
span.ico-lang-fr, i.ico-lang-fr { background-position: -108px -216px; }
span.ico-lang-hr, i.ico-lang-hr { background-position: -144px -216px; }
span.ico-lang-ht, i.ico-lang-ht { background-position: -144px -240px; }
span.ico-lang-hu, i.ico-lang-hu { background-position: -144px -252px; }
span.ico-lang-id, i.ico-lang-id { background-position: -162px -48px; }
span.ico-lang-it, i.ico-lang-it { background-position: -162px -240px; }
span.ico-lang-kr, i.ico-lang-kr { background-position: -198px -216px; }
span.ico-lang-lv, i.ico-lang-lv { background-position: -216px -264px; }
span.ico-lang-my, i.ico-lang-my { background-position: -234px -300px; }
span.ico-lang-mk, i.ico-lang-mk { background-position: -234px -132px; }
span.ico-lang-nl, i.ico-lang-nl { background-position: -252px -144px; }
span.ico-lang-pl, i.ico-lang-pl { background-position: -288px -144px; }
span.ico-lang-br, i.ico-lang-br { background-position: -36px -216px; }
/* span.ico-lang-br, i.ico-lang-br { background-position: -288px -240px; } */
span.ico-lang-ro, i.ico-lang-ro { background-position: -324px -180px; }
span.ico-lang-ua, i.ico-lang-ua { background-position: -378px -12px; }
span.ico-lang-sk, i.ico-lang-sk { background-position: -342px -132px; }
span.ico-lang-tr, i.ico-lang-tr { background-position: -360px -216px; }
span.ico-lang-th, i.ico-lang-th { background-position: -360px -96px; }
span.ico-lang-vn, i.ico-lang-vn { background-position: -396px -168px; }
span.ico-lang-se, i.ico-lang-se { background-position: -342px -60px; }
span.ico-lang-si, i.ico-lang-si { background-position: -342px -108px; }
span.ico-lang-me, i.ico-lang-me { background-position: -234px -60px; }
span.ico-lang-hk, i.ico-lang-hk { background-position: -468px -108px; }
/* span.ico-lang-hk, i.ico-lang-hk { background-position: -144px -132px; } */
span.ico-lang-tw, i.ico-lang-tw { background-position: -360px -276px; }
span.ico-lang-cn, i.ico-lang-cn { background-position: -54px -168px; }
span.ico-lang-rs, i.ico-lang-rs { background-position: -324px -228px; }
span.ico-lang-cz, i.ico-lang-cz { background-position: -54px -312px; }
span.ico-lang-cs, i.ico-lang-cs { background-position: -324px -228px; }
span.ico-lang-bg, i.ico-lang-bg { background-position: -36px -84px; }
span.ico-lang-il, i.ico-lang-il { background-position: -162px -144px; }
span.ico-lang-by, i.ico-lang-by { background-position: -35px -300px; }
span.ico-lang-kz, i.ico-lang-kz { background-position: -198px -312px; }
span.ico-lang-al, i.ico-lang-al { background-position: -17px -144px; }
span.ico-lang-ir, i.ico-lang-ir { background-position: -162px -216px; }
span.ico-lang-no, i.ico-lang-no { background-position: -252px -180px; }
span.ico-lang-za, i.ico-lang-za { background-position: -467px -12px; }
span.ico-lang-am, i.ico-lang-am { background-position: -18px -155px; }
span.ico-lang-ct, i.ico-lang-ct { background-position: -54px -240px; }
span.ico-lang-jp, i.ico-lang-jp { background-position: -180px -192px; }
span.ico-lang-in, i.ico-lang-in { background-position: -162px -168px; }
span.ico-lang-eu, i.ico-lang-eu { background-position: -90px -252px; }
span.ico-lang-gl, i.ico-lang-gl { background-position: -126px -144px; }
span.ico-lang-pt, i.ico-lang-pt { background-position: -288px -240px; }
span.ico-lang-ph, i.ico-lang-ph { background-position: -288px -96px; }
span.ico-lang-gb, i.ico-lang-gb { background-position: -468px -312px; }
span.ico-lang-ge, i.ico-lang-ge { background-position: -126px -60px; }
span.ico-lang-at, i.ico-lang-at { background-position: -17px -240px; }
span.ico-lang-az, i.ico-lang-az { background-position: -18px -312px; }
span.ico-lang-ba, i.ico-lang-ba { background-position: -36px -12px; }
span.ico-lang-pk, i.ico-lang-pk { background-position: -288px -132px; }
span.ico-lang-uz, i.ico-lang-uz { background-position: -378px -312px; }


i.ico-lang-en,
i.ico-lang-lt,
i.ico-lang-ru	{ width: 18px; height: 12px }


.langs_flags {
	display: inline-block;
}
.langs_flags a {
	padding: 0;
	width: 18px;
	height: 12px;
	position: relative;
	display: block;
	float: left;
	margin: 2px;
}
.langs_flags a.active:after {
	content: "";
	display: block;
	width: 22px;
	height: 16px;
	border: 1px solid #777;
	padding: 1px;
	position: absolute;
	top: -2px;
	left: -2px;
}
.langs_flags a:last-child {
	margin-right: 0;
}
.langs_flags a i {
	display: block;
}

.btn-collapser {
	display: none;
	text-align: center;
	padding: 6px;
}

.btn-collapser > .icon-bar {
	display: block;
	padding: 0px;
	margin: 3px 0px 0px 0px;
	font-size: 1px;
	line-height: 1px;
	background: #000000;
	height: 3px;
	width: 18px;
}

.btn-collapser > .icon-bar:first-child {
	margin-top: 0px;
}

.wb_element .collapsed > .btn-collapser {
	display: inline-block;
}

.wb_element .collapsed > ul {
	display: none !important;
}

.wb-music-player {
	background-color: #fafafa;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.wb-music-player-ctrl {
	background-color: #333333;
	padding: 0px;
	margin: 0px;
}
.wb-music-player-btns {
	text-align: center;
	padding: 6px 0px;
	margin: 0px;
}
.wb-music-player-btns > a {
	cursor: pointer;
	color: #ffffff;
	text-align: left;
	vertical-align: middle;
	display: inline-block;
}
.wb-music-player-btns > a:hover {
	color: #2cbd98;
	border-color: #2cbd98;
	text-decoration: none;
}
.wb-music-player-btns > a.disabled {
	color: #666666;
	border-color: #666666;
	cursor: default;
}
.wb-music-player-prev {
	border: 2px solid #ffffff;
	width: 22px;
	height: 22px;
	-webkit-border-radius: 22px;
	-moz-border-radius: 22px;
	border-radius: 22px;
	font-size: 11px;
}
.wb-music-player-prev > span {
	vertical-align: top;
	margin: 2px 0px 0px 4px;
}
.wb-music-player-next {
	border: 2px solid #ffffff;
	width: 22px;
	height: 22px;
	-webkit-border-radius: 22px;
	-moz-border-radius: 22px;
	border-radius: 22px;
	font-size: 11px;
}
.wb-music-player-next > span {
	vertical-align: top;
	margin: 2px 0px 0px 4px;
}
.wb-music-player-play {
	border: 2px solid #ffffff;
	width: 30px;
	height: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	margin: 0px 30px;
	font-size: 16px;
}
.wb-music-player-play > span {
	vertical-align: top;
	margin: 4px 0px 0px 6px;
}
.wb-music-player-pbar,
.wb-music-player-pbar > div {
	padding: 0px;
	margin: 0px;
	line-height: 1px;
	font-size: 1px;
	border: none;
	display: block;
	overflow: hidden;
	float: none;
}
.wb-music-player-pbar {
	background-color: #666666;
}
.wb-music-player-pbar > div {
	background-color: #2cbd98;
	width: 23%;
	height: 4px;
}
.wb-music-player-plist {
	color: #333333;
	font-size: 14px;
	line-height: 16px;
	padding: 4px 0px 0px 0px;
}
.wb-music-player-plist > div {
	padding: 4px 10px;
	margin: 0px;
}
.wb-music-player-plist > div:nth-child(even) {
	background-color: #efefef;
}
.wb-music-player-plist > div.active {
	background-color: #2cbd98;
}

.wb-recaptcha-placeholder {
	max-width: 304px;
	height: 78px;
	border: 1px solid #D3D3D3;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #F9F9F9;
	color: #000;
	text-align: left;
	cursor: help;
	display: block;
}
.wb-recaptcha-placeholder > span {
	margin: 25px 12px 0px 12px;
	display: block;
	vertical-align: top;
	font-size: 14px;
	line-height: 24px;
}
.wb-recaptcha-placeholder > span::before {
	background: #ffffff;
	border: 2px solid #C1C1C1;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	height: 28px;
	width: 28px;
	display: inline-block;
	margin: 0px 10px -9px 0px;
	content: "";
}

.wb-store {
	overflow: visible;
	overflow-y: auto;
	width: 100%;
	height: 100%;
}
.wb-store-table td {
	vertical-align: middle !important;
}
.wb-store-table-name-link > div,
.wb-store-table-name-link .wb-store-nothumb {
	border: none;
	width: 50px;
	height: 50px;
	display: inline-block;
	vertical-align: middle;
	overflow: hidden;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
}

.wb-store-table-name-link .wb-store-nothumb::before {
	margin-top: -3px;
	display: inline-block;
	vertical-align: top;
}

.wb-store-table-name {
	display: inline-block;
	margin: 0px 0px 0px 10px;
}
.wb-store-item {
	display: inline-block;
	margin: 0px 10px 20px 10px;
	cursor: pointer;
	vertical-align: top;
}
.wb-store-thumb {
	border: 1px solid #eee;
	margin: 0px 0px 5px 0px;
	overflow: hidden;
	width: 200px;
	height: 200px;
	text-align: center;
	position: relative;
}
.wb-store-thumb:before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}
.wb-store-thumb img {
	max-width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.wb-store-imgs-block {
	float: left;
	text-align: center;
	margin-right: 30px;
}
.wb-store-image {
	border: 1px solid #eee;
	text-align: center;
	display: inline-block;
	position: relative;
	overflow: hidden;
	touch-action: manipulation;
}
.wb-store-image:before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}
.wb-store-image > img {
	transition: opacity 0.3s;
	-moz-transition: opacity 0.3s;
	-webkit-transition: opacity 0.3s;
	max-width: 100%;
	position: absolute;
	width: auto;
	height: auto;
	left: 0;
	top: 0;
}
.wb-store-alt-images {
	position: relative;
	display: inline-block;
	margin-top: 20px;
	padding: 0 24px;
}
.wb-store-alt-images > div {
	max-width: 488px;
	overflow: hidden;
}
.wb-store-alt-images > span {
	display: block;
	width: 20px;
	height: 40px;
	position: absolute;
	top: 41px;
	cursor: pointer;
	background-image: url('../img/store-arrow.png');
	background-repeat: no-repeat;
	opacity: 0.5;
}
.wb-store-alt-images > span:hover {
	opacity: 0.8;
}
.wb-store-alt-images > .arrow-left {
	left: 0;
	background-position: 0 0;
}
.wb-store-alt-images > .arrow-right {
	right: 0;
	background-position: -20px 0;
}
.wb-store-alt-images > div > div {
	white-space: nowrap;
	transition: margin-left 0.3s;
	-moz-transition: margin-left 0.3s;
	-webkit-transition: margin-left 0.3s;
}
.wb-store-alt-images .wb-store-alt-img {
	width: 110px;
	height: 110px;
	display: inline-block;
	vertical-align: middle;
	margin: 5px;
	border: 1px solid #eee;
	cursor: pointer;
	box-sizing: content-box;
}
.wb-store-alt-images .wb-store-alt-img.active {
	border: 3px solid #eee;
	margin: 3px;
}
.wb-store-alt-images .wb-store-alt-img > img {
	max-width: 100%;
}
.wb-store-nothumb {
	font-size: 49px;
	line-height: 49px;
	color: #999999;
	display: inline-block;
	vertical-align: middle;
}
.wb-store-controls {
	margin-bottom: 20px;
}
.wb-store-label {
	display: inline-block;
	margin-right: 6px;
}

.wb-store-details-table {
	border: none;
	border-collapse: collapse;
	padding: 0px;
	margin: 0px;
}
.wb-store-details-table td {
	border: none;
	border-collapse: collapse;
	padding: 0px;
	margin: 0px;
}

.wb-store-properties .wb-store-pcats {
	display: block;
	margin-bottom: 10px;
}
.wb-store-properties .wb-store-sku {
	display: block;
	margin-bottom: 10px;
}
.wb-store-properties .wb-store-name {
	display: block;
	margin-bottom: 10px;
}
.wb-store-properties .wb-store-price {
	display: block;
	margin-bottom: 10px;
}
.wb-store-desc {
	margin-top: 20px;
}
.wb-store-filters {
	margin: 0px 10px 20px 10px;
}
.wb-store-cat-select {
	width: 200px;
}
.wb-store-form-block {
	padding-top: 20px;
	width: 100%;
	margin-left: 0!important;
}
.wb-store-form-buttons {
	padding-top: 20px;
	text-align: left;
}
.wb-store-form-block .wb-store-form {
	margin-top: 20px;
	position: static !important;
	float: none;
	width: 100%;
}
.wb-store-form-block .wb-store-form .wb_form {
	/* max-width: 540px; */
	width: 100%;
	margin: 0;
}
.wb-store-form-block .wb-store-form .form-footer td {
	text-align: right;
}
.wb-store-cart {
	cursor: pointer;
	height: 100%;
}
.wb-store-cart:before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}
.wb-store-cart > div,
.wb-store-cart span,
.wb-store-cart img {
	display: inline-block;
	vertical-align: middle;
	margin-right: 6px;
}
.wb-store-cart span:last-child {
	margin: 0;
}
.wb-store-cart .store-cart-icon {
	font-family: FontAwesome;
	font-size: 18px !important;
	line-height: 22px !important;
	width: 22px !important;
	height: 22px !important;
	color: #333333;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-image: none !important;
	text-align: center;
	vertical-align: middle;
	speak: none;
}
.wb-store-cart .store-cart-icon:before { content: "\f291"; }

.wb-store .wb-store-pay-btns {
	position: relative;
}
.wb-store .wb-store-pay-btns > div {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	/* width: 100%; */
	margin-left: 15px;
}
.wb-store .wb-store-pay-btns .wb-store-pay-btn-overlay {
	position: absolute;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	margin: 0;
}
.wb-store .wb-store-pay-btns .wb-store-pay-btn-overlay > .ico-spin {
	width: 18px!important;
	height: 18px!important;
	line-height: 18px!important;
	font-size: 18px!important;
	display: inline-block;
}
.wb-store .wb-store-pay-btns .wb-store-pay-btn-overlay > .ico-spin:before {
	font-family: FontAwesome;
	content: "\f110";
}


@-webkit-keyframes cartanim {
    0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}
    40% {-webkit-transform: translateY(-30px);}
    60% {-webkit-transform: translateY(-15px);}
}
@keyframes cartanim {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-30px);}
    60% {transform: translateY(-15px);}
}
.cartanim {
	-webkit-animation-duration: 0.7s;
	animation-duration: 0.7s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
    -webkit-animation-name: cartanim;
    animation-name: cartanim;
}

.wb-store-cart-table,
.wb-store-cart-table td,
.wb-store-cart-table th,
.wb-store-cart-table tr {
	border: none;
	margin: 0px;
}
.wb-store-cart-table td,
.wb-store-cart-table th {
	padding: 10px 5px;
	vertical-align: middle;
}
.wb-store-cart-table thead td,
.wb-store-cart-table thead th {
	text-align: center;
}
.wb-store-cart-table thead {
	border-bottom: 1px solid #ccc;
}
.wb-store-cart-table tfoot {
	border-top: 1px solid #ccc;
}
.wb-store-cart-table.empty thead,
.wb-store-cart-table.empty tfoot {
	display: none;
}

.wb-store-cart-table-img {
	width: 1%;
}
.wb-store-cart-table-img img {
	max-height: 56px;
}
.wb-store-cart-table-img > div {
	width: 50px;
	height: 50px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
}
.wb-store-cart-table-name {
	text-align: left;
}
.wb-store-cart-table-quantity {
	width: 1%;
}
.wb-store-cart-table-quantity input {
	width: 60px;
	text-align: center;
}
.wb-store-cart-table-price {
	width: 1%;
	text-align: center !important;
	white-space: nowrap;
}
.wb-store-cart-table-remove {
	width: 1%;
}
.wb-store-cart-table-remove > span {
	visibility: hidden;
	color: #f00;
	cursor: pointer;
}
.wb-store-cart-table tr:hover > .wb-store-cart-table-remove > span {
	visibility: visible;
}
.wb-store-cart-table-totals {
	text-align: right;
}
.wb-store-cart-sum {
	width: 1%;
	text-align: center !important;
}
.wb-store-pay-btns {
	text-align: right;
	margin-top: 20px;
}
.wb-store-pay-btns > div {
	display: inline-block;
}

.wb-cgr {
	box-sizing: border-box;
	margin: 0 -15px;
	width: auto;
}

.wb-cgr:after {
	display: block;
	box-sizing: border-box;
	content: '';
	visibility: hidden;
	width: 100%;
	height: 0;
	clear: both;
}

.wb-cgc {
	float: left;
	box-sizing: border-box;
	padding: 0 15px;
	width: 100%;
}

@media (min-width: 768px) {
	.wb-cgc-tbl-1 { width: 8.333333333333%; }
	.wb-cgc-tbl-2 { width: 16.666666666666%; }
	.wb-cgc-tbl-3 { width: 25%; }
	.wb-cgc-tbl-4 { width: 33.333333333333%; }
	.wb-cgc-tbl-5 { width: 41.666666666666%; }
	.wb-cgc-tbl-6 { width: 50%; }
	.wb-cgc-tbl-7 { width: 58.333333333333%; }
	.wb-cgc-tbl-8 { width: 66.666666666666%; }
	.wb-cgc-tbl-9 { width: 75%; }
	.wb-cgc-tbl-10 { width: 83.333333333333%; }
	.wb-cgc-tbl-11 { width: 91.666666666666%; }
	.wb-cgc-tbl-12 { width: 100%; }
}

@media (min-width: 992px) {
	.wb-cgc-dsk-1 { width: 8.333333333333%; }
	.wb-cgc-dsk-2 { width: 16.666666666666%; }
	.wb-cgc-dsk-3 { width: 25%; }
	.wb-cgc-dsk-4 { width: 33.333333333333%; }
	.wb-cgc-dsk-5 { width: 41.666666666666%; }
	.wb-cgc-dsk-6 { width: 50%; }
	.wb-cgc-dsk-7 { width: 58.333333333333%; }
	.wb-cgc-dsk-8 { width: 66.666666666666%; }
	.wb-cgc-dsk-9 { width: 75%; }
	.wb-cgc-dsk-10 { width: 83.333333333333%; }
	.wb-cgc-dsk-11 { width: 91.666666666666%; }
	.wb-cgc-dsk-12 { width: 100%; }
}

@media (min-width: 1200px) {
	.wb-cgc-tv-1 { width: 8.333333333333%; }
	.wb-cgc-tv-2 { width: 16.666666666666%; }
	.wb-cgc-tv-3 { width: 25%; }
	.wb-cgc-tv-4 { width: 33.333333333333%; }
	.wb-cgc-tv-5 { width: 41.666666666666%; }
	.wb-cgc-tv-6 { width: 50%; }
	.wb-cgc-tv-7 { width: 58.333333333333%; }
	.wb-cgc-tv-8 { width: 66.666666666666%; }
	.wb-cgc-tv-9 { width: 75%; }
	.wb-cgc-tv-10 { width: 83.333333333333%; }
	.wb-cgc-tv-11 { width: 91.666666666666%; }
	.wb-cgc-tv-12 { width: 100%; }
}

.wb-map {
	max-height: 300px;
}

@media (min-height: 400px) {
	.wb-map {
		max-height: 350px;
	}
}

@media (min-height: 450px) {
	.wb-map {
		max-height: 400px;
	}
}

@media (min-height: 500px) {
	.wb-map {
		max-height: 450px;
	}
}

@media (min-height: 550px) {
	.wb-map {
		max-height: 500px;
	}
}

@media (min-height: 600px) {
	.wb-map {
		max-height: 550px;
	}
}

@media (min-height: 640px) {
	.wb-map {
		max-height: 600px;
	}
}

@media (min-width: 768px) {
	.wb-map {
		max-height: none;
	}
}
